.Rproj.user
.Rhistory
.RData
.Ruserdata
.ipynb_checkpoints
SMLSE.Rproj
DE/raw/Bundestag.csv
DE/processed/Bundestag_cleaned.csv
DE/.ipynb_checkpoints
DE/vis
DE/smlse
DE/wordfish
DE/runtime*
AT/raw/Nationalrat.csv
AT/processed/Nationalrat_cleaned.csv
AT/.ipynb_checkpoints
AT/vis
AT/smlse
NL/raw/TweedeKamer.csv
NL/processed/TweedeKamer_cleaned.csv
NL/.ipynb_checkpoints
NL/vis
NL/smlse