.Rproj.user
.Rhistory
.RData
.Ruserdata
.ipynb_checkpoints
SMLSE.Rproj
main.run.xml
main.aux
main.bbl
main.bcf
main.log
main.blg
main.out
AT/raw
AT/processed/Nationalrat_cleaned.csv
AT/.ipynb_checkpoints
AT/smlse
AT/polls_granger.txt
AT/polls_ols.txt
AT/old
DE/raw
DE/processed/Bundestag_cleaned.csv
DE/.ipynb_checkpoints
DE/smlse
DE/wordfish
DE/runtime*
DE/sims*
NL/raw
NL/processed/TweedeKamer_cleaned.csv
NL/.ipynb_checkpoints
NL/smlse
PA*
Rpkgs.csv